<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
     integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"></script>
      <script>
        $(document).ready(function() {
            perfrom_query();
        });

        function perfrom_query() {
            let word = 'apple';
            let api_key = 'e2fdbc6a-2c18-4d7a-b60a-99b0dc2083a2';
            let url = `https://www.dictionaryapi.com/api/v3/references/collegiate/json/${word}?key=${api_key}`;
            $.ajax({
                type: 'GET',
                url: url,
                data: {},
                success: function(response){
                    console.log(response)
                }
            })
        }
      </script>
</head>
<body>
    
</body>
</html>